<div class="container" layout="column">
  <div class="screen" flex="20">

  </div>
  <div class="plate" flex layout="column">
    <div class="top-plate" layout="row" flex="50">
      <div class="void" flex="25">

      </div>
      <div class="previous-meal" flex="25">

      </div>

      <div class="next-meal" flex="25">

      </div>
      <div class="drink" flex="25">

      </div>
    </div>
    <div class="bottom-plate" layout="row" flex="50">
      <div class="teaspoon" flex="12.5">

      </div>
      <div class="fork" flex="12.5">

      </div>
      <div class="current-meal" flex="25">

      </div>
      <div class="knife" flex="12.5">

      </div>
      <div class="spoon" flex="12.5">

      </div>
    </div>
  </div>
</div>


